<html>
	<head>
	
		<link rel="icon" href="favicon.ico" type="image/x-icon"/>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link href="css/style.css" rel="stylesheet" type="text/css"/>
		<title>Admin</title>
	</head>
        <body>
<H1>Admin</h1>
<br/>
<br/>

<h4>Add new board:</h4>
<form method="post" action="/adminum">
      <p>
         Board name: <input type="text" name="bname">
      </p>
      <p>
         Board address: <input type="text" name="badr">
      </p>
      
          <p>Category: <br>
        {% for сatal in categorys %}
			<p> <input type="radio" name="cat" value="{{ сatal.id }}">{{ сatal.name }}</p>
		{% endfor %}
          
      <p>
          <input type="submit" value="Добавить">
      </p>   
</form> 
<br>
<h4>Add new category:</h4>
<form method="post" action="/adminum">
      <p>
         Category name: <input type="text" name="сname">
      </p>
      <p>
          <input type="submit" value="Добавить">
      </p>   
</form> 
<br>
<h5>Exist boards</h5>
<br>
          
      {% for сatal in categorys %}
      <p><h6>{{ сatal.name }}</h6></p>
        <br>

            {% for lol in boards_list %}
            {% for lo in lol %}
            <p>{{ lo.name }} Адр: {{ lo.adr }}</p>
            {% endfor %}

            {% endfor %}
	{% endfor %}
        
        </body>
</html>
