<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
	
		<link rel="icon" href="favicon.ico" type="image/x-icon"/>
		
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link href="css/style.css" rel="stylesheet" type="text/css"/>
		<title>Главная страница</title>
	</head>
  
	<body>
		<div id="center">
			<div id="header">
				<div id="site-name">
					<h2>PyImgBoard</h2>
				</div>		
				<div id="header-text">
					{{ welcome_text }}
					<!--TODO write text -->
					{% block header%}
					{% endblock %}
				</div>
			</div>

			<div class="box">
				<div class="box-bar"><h2>Boards</h2></div>
				<div class="box-content">
                                    {% for categ in categ_list %}
                                    {% for post in categ %}
					<div class="column">
						<h3>{{post.key}}</h3>
						<ul>
                                                    {% for bo in post.value %}
                                                    <li><a href="/{{bo.adr}}/">{{bo.name}}</a></li>
                                                    {% endfor %}
						</ul>
					</div>
                                    {% endfor %}
                                    {% endfor %}
					
				</div>
			</div>
		</div>
	</body>
</html>
