<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>{{ title }}</title>
  </head>
  
  <body>
    <div id="center">

      <div id="header">
	<div id="site-name">
	  <h2>PyImgBoard</h2>
	</div>
	<div id="header-text">
	  {{ welcome_text }}
	  <!--TODO write text -->
	</div>
      </div>

      <div id="content">
	<div id="columns">
	  <div id="left-column">
	    <table>
	      {% for var1 in array1 %}
	        <tr>
	          {% for var2 in array2 %}
	            <td>{{var1}}{{var2}}</td>
	          {% endfor %}
		</tr>
	      {% endfor %}
	    </table>
	  </div>
	  <div id="right-column">
	    right column
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
