body {
    margin: 0;
    background-color: #E4DBBF;
}

#center {
    width: 909px;
    height: 700px;
    margin: 0 auto;
}

#header {
    height: 200px;
    position: relative;
    margin-bottom: 25px;
}

#site-name {
    margin-top: 100px;
}

#header-text {
    height: 130px;
}

.box {       
    height: 300px;
}

.box-bar {
	padding-left: 10px;
	line-height: 40px;
	
}

.box-bar h2 {
	margin: 0;
	font-size: 131%;
	color: #DC5B21;
}

.box-content {
	padding: 5px 10px 5px 10px;
	color: #6B645B;
}

.box-content h3 {
	margin: 0;
	font-size: 100%;	
	text-decoration: underline;
	line-height: 130%;
}

.box-content ul {
	margin: 0;
	padding: 0;
}

.box-content li {
	list-style: none;
}

.column {    
	float: left;
    width: 200px;
}
