body {
    margin: 0;
    background-color: #E4DBBF;
}

#center {
    width: 909px;
    height: 700px;
    margin: 0 auto;
}

#header {
    height: 200px;
    position: relative;
    margin-bottom: 25px;
}

#site-name {
    margin-top: 100px;
}

#header-text {
	height: 130px;
	line-height: 1.5em;
	font-size: 93%;
	font: 13px/1.231 arial,helvetica,clean,sans-serif;
}

.box {       
    height: 300px;
}

.box-bar {
	padding-left: 10px;
	line-height: 40px;
	
}

.box-bar h2 {
	margin: 0;
	font-size: 131%;
	color: #DC5B21;
}

.box-content {
	padding: 5px 10px 5px 10px;
	color: #6B645B;
}

.box-content h3 {
	margin: 0;
	font-size: 100%;	
	text-decoration: underline;
	line-height: 130%;
}

.box-content ul {
	margin: 0;
	padding: 0;
}

.box-content li {
	list-style: none;
}

.column {    
	float: left;
    width: 200px;
}

#post-from {
	
}

#post-form table {
	border-spacing: 1px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: separate;
}

#post-form input[type="text"] {
	width: 232px;
}

#post-form input[type="submit"] {
	width: 57px;
	margin: 0;
}

#post-form tr td:first-child {
	background-color: #98E;
	color: black;
	font-weight: bold;
	border: 1px solid black;
	padding: 0 5px;
	font-size: 10pt;
}

.post-info {
	width: auto;
	display: inline;
}

.post {
	margin: 4px 0;
	background-color: #D6DAF0;
	border: 1px solid #B7C5D9;
	border-left: none;
	border-top: none;
	display: table;
	padding: 2px;
}

.name-block {
	display: inline-block;
}

.name {
	color: #117743;
	font-weight: bold;
}

.date-time {
}

.post-num {
}

.post-message {
}

.side-arrows {
	color: #B7C5D9;
	float: left;
	margin-right: 2px;
	margin-top: 0px;
	margin-left: 2px;
}

.board-title {
	font-family: Tahoma,sans-serif;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: -2px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	color: #AF0A0F;
}
